body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #60c4ff;
}

.gallery {
    --s:150px; /* control the center of the gallery */
    --g: 10px; /* control the gap */
    --f: 1.5; /* control the scale factor */

    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
}

.gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
    border: 1px dotted black;
}

.gallery img:hover {
    filter: grayscale(0);
    width: calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
}

h1 {
    font-size: 1em;
    font-family: monospace;
}
