body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: pink;
}

h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    color: white;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
}

.container {
    text-align: center;
}

.btn {
    padding: 30px 50px;
    background-color: #fff;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
    min-width: 200px; /* to get all the buttons as same size bcz the five characters button gets larger than other */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-image: url("./images/tom.png");
    background-size: cover;
    color: white;
    font-family: cursive;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
}

.btn:hover {
    color: pink;
}
.btn:active {
    background-size: 105%;
}


/* @media (max-width: 448px) {
    h1 {
        font-size: 30px;
    }
} */