/* import Muli */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=League+Spartan:wght@200;400&family=Mulish&family=Open+Sans:wght@300;400&family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700&family=Ubuntu&family=Ubuntu+Condensed&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f6f7fb;
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    min-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 30px;
    margin: 5px;
    cursor: pointer;
    font-family: inherit;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}