body {
    margin: 0;
    font-family: sans-serif;
}

.bg-img {
    width: 100%;
    height: 100vh;
    background: url("./images/holographic-iron-man-mkiv-nc-1366x768.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    padding: 100px;
}

h1 {
    font-size: 50px;
}

p {
    color: gray;
}

@media (max-width: 448px){
    .container {
        padding: 10px;
    }
    .bg-img {
        background-size: 250%;
    }
}